{% load static %}

<script src="{% static 'mainApp/js/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'mainApp/js/jquery/jquery-ui.js' %}"></script>
<script src="{% static 'mainApp/js/popper/popper.min.js' %}"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js" integrity="sha384-lpyLfhYuitXl2zRZ5Bn2fqnhNAKOAaM/0Kr9laMspuaMiZfGmfwRNFh8HlMy49eQ" crossorigin="anonymous"></script>
{% comment %} <script src="{% static 'mainApp/js/bootstrap/bootstrap.min.js' %}"></script> {% endcomment %}
<script src="{% static 'mainApp/js/owl/owl.carousel.min.js' %}"></script>
<script src="{% static 'mainApp/js/jquery/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'mainApp/js/aos/aos.js' %}"></script>
<script src="{% static 'mainApp/js/main.js' %}"></script>