{% load static %}
{% comment %} {% url 'cart:product-list' as path_to_cart_product_list %} {% endcomment %}
{% comment %} {% url 'contact' as path_to_contact %} {% endcomment %}
{% comment %} {% url 'staff:staff' as path_to_staff %} {% endcomment %}
{% url 'storeApp:product-list' as path_to_store_home %}
{% url 'salesApp:sales_home' as path_to_sales_home %}
{% url 'salesApp:sales_list' as path_to_sales_list %}
{% url 'reportsApp:report-main' as path_to_report_main %}
{% url 'reportsApp:report-from-file' as path_to_report_from_file %}
{% url 'inventoryManagementApp:stock-list' as path_to_inventoryManagementApp_stock_list %}
{% url 'inventoryManagementApp:stock-create-item' as path_to_inventoryManagementApp_stock_create_item %}

{% block scriptT %}
<style>
  .dropdown-menu > li > a:hover {
    background-image: none;
    background-color: red;
}
</style>
{% endblock scriptT %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == path_to_store_home %}active{% endif %}" href="{{ path_to_store_home}}">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sales
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light {% if request.path == path_to_sales_home %}active{% endif %}" href="{{ path_to_sales_home}}">Sales Main</a></li>
            <li><a class="dropdown-item text-light {% if request.path == path_to_sales_list %}active{% endif %}" href="{{path_to_sales_list}}">Sales Lists</a></li>
            <li><a class="dropdown-item text-light" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" style="border-color:black;"></li>
            <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Reports
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light {% if request.path == path_to_report_main %}active{% endif %}" href="{{path_to_report_main}}">Reports Main</a></li>
            <li><a class="dropdown-item text-light {% if request.path == path_to_report_from_file %}active{% endif %}" href="{{path_to_report_from_file}}">Reports From File Upload</a></li>
            <li><hr class="dropdown-divider" style="border-color:black;"></li>
            <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Inventory
          </a>
          <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item text-light {% if request.path == path_to_inventoryManagementApp_stock_list %}active{% endif %}" href="{{path_to_inventoryManagementApp_stock_list}}">Stock List</a></li>
            <li><a class="dropdown-item text-light {% if request.path == path_to_inventoryManagementApp_stock_create_item %}active{% endif %}" href="{{path_to_inventoryManagementApp_stock_create_item}}">Stock Item Create</a></li>
            <li><hr class="dropdown-divider" style="border-color:black;"></li>
            <li><a class="dropdown-item text-light" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="text-end">
        {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-outline-light me-2 mx-2"><a href="#"><span><i class="fas fa-sign-out-alt"></i></span></a></button>
        {% comment %} <button type="button" class="btn btn-outline-light me-2 mx-2"><a href="{% url 'account_login' %}"><span><i class="fas fa-sign-in-alt"></i></span></a></button> {% endcomment %}
        {% comment %} <a href="{% url 'profile' %}"><span><i class="fas fa-user"></i></span></a> {% endcomment %}
        {% else %}
        <button type="button" class="btn btn-outline-light me-2 mx-2"><a href="#"><span><i class="fas fa-sign-in-alt"></i></span></a></button>
            {% comment %} <a href="{% url 'account_login' %}"><span><i class="fas fa-sign-in-alt"></i></span></a> {% endcomment %}
        {% endif %}
        {% comment %} <button type="button" class="btn btn-outline-light me-2 mx-2">Login</button> {% endcomment %}
        {% comment %} <button type="button" class="btn btn-warning">Sign-up</button> {% endcomment %}
    </div>
    </div>
  </div>
</nav>