{% load static %}
{% comment %} {% url 'cart:product-list' as path_to_cart_product_list %} {% endcomment %}
{% comment %} {% url 'contact' as path_to_contact %} {% endcomment %}
{% comment %} {% url 'staff:staff' as path_to_staff %} {% endcomment %}
{% url 'sales_app:sales_home' as path_to_sales_home %}
{% url 'sales_app:sales_list' as path_to_sales_list %}
{% url 'reports_app:report-main' as path_to_report_main %}
{% url 'reports_app:report-from-file' as path_to_report_from_file %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-right text-md-center" role="navigation">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    {% comment %} <div class="container"> {% endcomment %}
    <ul class="navbar-nav">
    {% comment %} <ul class="site-menu js-clone-nav d-none d-md-block" style="padding: 0;"> {% endcomment %}
      <li class="nav-item">
        <a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        {% comment %} <a class="nav-link {% if request.path == path_to_cart_product_list %}active{% endif %}" href="{{path_to_cart_product_list}}">Shop</a> {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == path_to_contact %}active{% endif %}" href="{{path_to_contact}}">Contact</a>
      </li>
      <li class="nav-item">
        {% comment %} <a class="nav-link {% if request.path == path_to_staff %}active{% endif %}" href="{{path_to_staff}}">Staff</a> {% endcomment %}
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == path_to_sales_home %}active{% endif %}" href="{{ path_to_sales_home}}">Sales Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == path_to_sales_list %}active{% endif %}" href="{{path_to_sales_list}}">Sales Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == path_to_report_main %}active{% endif %}" href="{{path_to_report_main}}">Reports Main</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if request.path == path_to_report_from_file %}active{% endif %}" href="{{path_to_report_from_file}}">Reports From File Upload</a>
      </li>
    </ul>
  </div>
</nav>